<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center" style="height:100vh">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/cake-logo.png">
    </a>
    <h1>Atish &amp; Harish</h1>
    <p>Many Many Happy Returns Of The Day</p>
    
    <h4 style="bottom:0; position:absolute">Made with ♥ by Ashish</h4>
  </div>
</div>

</body>
</html>
